:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-bkg-color: #2F303A;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-bottom: 0;
}

.link {
    text-decoration: inherit;
}

.list {
    padding: 0;
}
/* Header */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
       
}
.proto {
    display: flex;
    align-items: center;
}

.proto .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.top {
    border-bottom: 1px solid #ECECEC;
}

.logo{
    color: var(--secondary-text-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: inherit;
}
.web-logo {
    color: var(--accent-color)
}

.site-nav {
    margin-left: 93px;
}

.site-nav, .auth-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    
}
.site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child)  {
    margin-right: 50px;
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.site-nav .link:hover, 
.site-nav .link:focus {
color: var(--accent-color)
}

.auth-nav {
    margin-left: auto;
    
}

.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.auth-nav .link:hover,
.auth-nav .link:focus 
{
    color: var(--accent-color)
}

.mail {
    margin-right: 10px;
    fill: var(--primary-text-color); 
    margin-top: -2px;
}

.mail:hover,
.mail:active {
    fill: var(--accent-color);
}

.tel {
    margin-right: 10px;
    fill: var(--primary-text-color);
    margin-top: -10px;
}

.tel:hover,
.tel:active {
    fill: var(--accent-color);
}

/*.auth-nav .link::before {
    content: "";
    display: inline-flex;
    height: 12px;
    width: 16px;
    background-image: url("../images/iconmail.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-right: 10px;
} */

.hero {
    background: #C4C4C4;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/mainfoto.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    
   color: #FFFFFF;
    text-align: center;
     margin-left: auto;
    margin-right: auto;
}

.hero-title  {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
    margin-top: 0;
padding-top: 200px;
}

.hero-button  {
    width: 200px;
    height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background-color: var(--accent-color);
margin-bottom: 200px;;

}
.section-title {
    color: var(--secondary-text-color);
    margin: 0;
}


.hang-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.hang-list .item {
    width: 270px;
}
.hang-list .item:not(:last-child) {
    margin-right: 30px;
}
.hang-list .item::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.icon-radar::before {
    background-image: url(../images/icon-radar.svg);
   
}

.icon-clock::before {
    background-image: url(../images/icon-clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/icon-diagram.svg);
}

.icon-austronaut::before {
    background-image: url(../images/icon-astronaut.svg);
}

.hang-list .title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
   
    padding-bottom: 10px;
}

.hang-list .text {
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
    
}

.wwd-list .item:not(:last-child) {
    margin-right: 30px;}

.wwd-list {
    display: flex;
    flex-wrap: wrap;
   /* padding-bottom: 94px; */
    margin: 0;
    
}




.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
    /* padding-top: 94px; */
    margin: 0;
}

.our-team {
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
   /* padding-bottom: 94px; */
}
.team-list .title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 10px;
    margin: 0;
}

.team-list .position {
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 30px;
    margin: 0;
}

.team-list .foto {
    margin-bottom: 30px;
    border-radius: 0px;
}

.person  {
    width: 270px;
    height: 368px;
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

    
.team-list .person  {
    margin: 0;
}
.team-list .person:not(:last-child) {
    margin-right: 30px;
}
.top-clients {
    padding-bottom: 50px;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.clients {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

}

.clients .item {
    display: inline-block;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.clients .item:not(:last-child) {
    margin-right: 30px;
}

.yaco {
    background-image: url(../images/icon-yaco.svg);
} 

.company {
    background-image: url(../images/icon-company.svg);
}
.third {
    background-image: url(../images/icon-third.svg);
}

.foster {
    background-image: url(../images/icon-foster.svg);
}
.brand {
    background-image: url(../images/icon-brand.svg);
}

.tag {
    background-image: url(../images/icon-tag.svg);
} 

.footer {
    color: var(--primary-white-color);
    background-color: var(--footer-bkg-color);
    font-size: 14px;
    line-height: 1.71;
    display: block;
}
.footer-list {
    
    margin: 0;
    margin-top: 20px;
    display: block;
}

.logobox {
   padding-top: 60px;
    margin-right: 70px;
     
}



.footer .link {
    color: var(--footer-text-color)
}
.footer .logo {
    color: var(--primary-white-color);
    
}
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color)
}

.footer-list .item:not(:last-child) {
    padding-bottom: 9px;
}

.footer .container {
    padding-bottom: 60px;
    display: flex;
}

.joinus {
    margin-top: 72px;
    margin-bottom: 100px;
}

.joinus p {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.joinus .list {
    display: flex;
}

.soclink {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, 0.1);
}

.soclink:not(:last-child) {
    margin-right: 10px;
}


.instagram {
    background-image: url(../images/instagram.svg);
    
}

.twitter {
    background-image: url(../images/twitter.svg);
}
.facebook {
    background-image: url(../images/facebook.svg);
}
.linkedin {
    background-image: url(../images/linkedin.svg);
}
/*Портфолио*/

.filter {
    color: --secondary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    cursor: pointer;
    background-color: #F5F4FA;
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    height: 38px;
}
button:hover,
button:focus {
    background: var(--accent-color);
    color: var(--primary-white-color)
}

.sort-list {
display: flex;
flex-wrap: wrap;
/*padding-bottom: 94px; */
}

.sort-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.sort-list .sort {
    font-size: 16px;
    line-height: 1.86;
}

.container .sorting {
    margin-bottom: 50px;
}



.hide {
    display: none;
    background-color: tomato;
}
/* display:none временный костыль */

.sorting {
    display: flex;
    align-items: flex-end;
    justify-content: center;
   /* margin-top: 94px; */
    margin-bottom: 50px;
}

.sort-butt:not(:last-child) {
    padding-right: 8px;
}
.cards {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.cards:nth-child(3n) {
    margin-right: 0;
}

.cards:nth-last-child(-n +3) {
    margin-bottom: 0;
}

.sort-list p, figure, h3 {
    margin: 0;
}

.cards .foto {
    margin-bottom: -4px;
}

.cards .title {
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
}

.cards .sort {
    margin-bottom: 20px;
    padding-left: 24px;
}

.borders {
    
border: 1px solid #eeeeee;;
border-top-width: 0;
  
}
address {
    font-style: normal;
}


/* coment */
